@font-face {
	font-family: helv;
	src: url(../fonts/HelveticaNeue-CondensedBold.otf);
}

body {
	font-family: helv;
	text-align: center;
}

.container {
	margin-top:20px;
}

img {
	display:inline;
	vertical-align: middle;
}

/* Main Screen */

button {
	font-size: 1.5em;
	box-sizing: border-box;
	width: 12em;
}

#pplpic {
	width: 120%;
}

#title {
	line-height: 3em;
}

#firstrowtitle {
	font-size: 3.5em;
}

#timetitle {
	color: #B2D7DD;
}

#secondrowtitle {
	font-size: 6em;
}

#clockpic {
	width: 100%;
	padding-bottom: 40%;
	padding-top: 40%;
}

#timerdiv {
	font-size: 6em;
	color: red;
	font-family: "Courier";
}

#mainbox {
	border: solid;
	border-width: 3pt;
}

#timeup {
	font-size: 8em;
	color: red;
}

#leftcol {
	padding-top: 2%;
	padding-bottom: 2%;
	line-height: 4em;
}

#lcti {
	font-size: 2.5em;
}

#you {
	color: #B2D7DD;
}

#jarpic {
	padding-top: 8%;
	padding-bottom: 5%;
	width: 90%;
}

/* Graph */

.piechart {
	display: block;
}

#brow {
	font-size: 4em;
}

#demographic {
	color: #000099
}

#timespent {
	color: #6600cc;
}

#activity {
	color: #3366ff;
}

canvas {
	display: block;
}

svg {
	width: 100em;
	height: 40em;
}

/* Words */

#rightcol {
	padding: 2em;
}

.words span {
	display: inline;
	line-height: 0.8em;
}

#fline {
	font-size: 6.5em;
}

#sline {
	font-size: 3.5em;
}

#tline {
	font-size: 13.6em;
	color: #007Ba7;
}

#ftline {
	font-size: 2.4em;
}

#filine {
	font-size: 5em;
}

#siline, #seline {
	font-size: 3em;
}

#eline {
	font-size: 9em;
}