@font-face
{
	font-family: helv;
	src: url(../fonts/HelveticaNeue-CondensedBold.otf);
}

body 
{
	font-family: helv;
}

.container
{
	margin-top:20px;
}

body 
{
    text-align: center;
}

img 
{
	display:inline;
	vertical-align: middle;
}

button
{
	font-size: 150%;
	box-sizing: border-box;
	width:200px;
}

#pplpic
{
	width: 120%;
}

#title
{
	line-height: 40px;
}

#firstrowtitle
{
	font-size:344%;
}

#timetitle
{
	color: #B2D7DD;
}

#secondrowtitle
{
	font-size:600%;
}

#clockpic
{
	width:100%;
	padding-bottom: 40%;
	padding-top: 40%;
}

#timerdiv
{
	font-size:600%;
	color: red;
	font-family: "Courier";
}

#mainbox
{
	border: solid;
	border-width: 3pt;
}

#timeup
{
	font-size:800%;
	color: red;
}

#leftcol
{
	padding-top: 2%;
	padding-bottom: 2%;
	line-height: 60px;
}

#lcti
{
	font-size: 250%;
}

#you
{
	color: #B2D7DD;
}

#jarpic
{
	padding-top: 8%;
	padding-bottom: 5%;
	width: 90%;
}

#rightcol
{
	padding-top: 2%;
	padding-bottom: 2%;
	line-height: 3px;
}

.piechart
{
	display: inline;
	
}

#brow
{
	font-size: 400%;
}

#demographic
{
	color: #000099
}

#timespent
{
	color: #6600cc;
}

#activity
{
	color: #3366ff;
}

canvas
{
	background-image: url("img/jar.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
}

#pc1 
{
	float:left;
	margin-left: 50px;

}

/* Words */

.words
{
	display: inline;
	line-height: 0.8em;
}

#fline
{
	font-size: 6.5em;
}

#sline
{
	font-size: 3.5em;
}

#tline
{
	font-size: 13.6em;
	color: #007Ba7;
}

#ftline
{
	font-size: 2.4em;
}

#filine
{
	font-size: 5em;
}

#siline, #seline
{
	font-size: 3em;
}

#eline
{
	font-size: 9em;
}